{% extends 'invoices/base.html' %}

{% block content %}
<div class="container ms-auto p-2">
    <h2>Invoice #{{ invoice.id }}</h2>
  <p><strong>Subject/Title:</strong>  {% if invoice.context_title %}
            {{ invoice.context_title }}
        {% else %}
            Statement
        {% endif %}</p>
<p><strong>Client:</strong> {% if invoice.client %}
    {{ invoice.client.name }}
{% else %}
    {{ invoice.guest_client_name }}
{% endif %}</p>
<p><strong>Created Date:</strong> {{ invoice.date }}</p>
<p><strong>Due:</strong> {{ invoice.due_date }}</p>
<p class="uppercase"><strong>Status:</strong> {{ invoice.status }}</p>

</div>
<div class="container ms-auto p-2">
    
<h4>Items/Parts/Service</h4>
<table class="table table-bordered table-striped-columns table-success align-middle" style="table-layout: fixed; width: 100%;">
    <thead>
        <tr>
            <th scope="col" style="width: 3.5rem;">No.</th>
            <th scope="col" style="width: 16rem;">Description</th>
            <th scope="col" style="width: 3.5rem;">Qty</th>
            <th scope="col" style="width: 7rem;">Unit Price</th>
            <th scope="col" class="text-center" style="width: 2.5rem; white-space: normal;">
                <span class="small" style="display: block; width: 100%; line-height: 1.1;  font-weight: bold;">
                    Per Item<br>Discount%
                </span>
            </th>
            <th scope="col" style="width: 7rem;">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in invoice.items.all %}
        {% if item.is_active %}
        <tr>
            <td style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ forloop.counter }}</td>
            <td style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ item.item_name }}</td>
            <td style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ item.quantity }}</td>
            <td style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ item.price }}</td>
            <td class="text-center" style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ item.per_item_discount_percentage }} %</td>
            <td style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ item.total|floatformat:2 }}</td>
        </tr>
        {% endif %}
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No items added.</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" class="text-end">Total</th>
            <th style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ invoice.total|floatformat:2 }}</th>
        </tr>
    </footer>
</table>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 100px;">
    {% if request.user.is_authenticated %}
    <a class="btn btn-success" href="{% url 'invoice_pdf' invoice.id %}">Download PDF</a>
    {% else %}
    <a class="btn btn-success" href="{% url 'guest_invoice_pdf' invoice.special_uid %}">Download PDF</a>
    
    {% endif %}
</div>
{% endblock %}